# =========================
# React Native / Expo
# =========================
node_modules/
.expo/
.expo-shared/
dist/
build/

# Metro
*.metro-cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
web-build/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.development
.env.test
.env.production

# =========================
# Node.js / Backend
# =========================
node_modules/
logs/
*.log

# Runtime
pids/
*.pid
*.seed

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# =========================
# =========================
# Android / iOS
# =========================
android/
ios/

# =========================
# Misc
# =========================
.vscode/
.idea/